<style>
    .relative:hover .zoom-img {
        transform: scale(1.1);
    }

    .zoom-img {
        transition: transform 0.3s ease;
    }

    .mini-quot {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        cursor: pointer;
    }

</style>

<!-- 影视信息 -->
<div class="glass-effect rounded-lg p-6 mb-8">
    <div class="flex flex-col md:flex-row gap-8">
        <div class="w-full md:w-[200px] lg:w-[240px]">
            <img
                    src="/media/index/getPrimaryImg?id=<?php echo $mediaId; ?>"
                    alt=""
                    class="w-full rounded-lg aspect-[2/3] object-cover zoom-img"
                    loading="lazy"
            />
        </div>
        <div class="flex-1 meta-data-here">
<!--            <h1 class="text-3xl font-bold mb-4">流浪地球3</h1>-->
<!--            <div class="flex items-center space-x-2 mb-4">-->
<!--                <div class="flex items-center">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400 fill-current" viewBox="0 0 20 20">-->
<!--                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />-->
<!--                    </svg>-->
<!--                </div>-->
<!--                <span class="text-lg">4.5</span>-->
<!--                <span class="text-white/60">(1234 条评价)</span>-->
<!--            </div>-->
<!--            <div class="space-y-4 text-white/80">-->
<!--                <p><strong>导演：</strong>郭帆</p>-->
<!--                <p><strong>主演：</strong>吴京、刘德华、李雪健</p>-->
<!--                <p><strong>上映时间：</strong>2024年大年初一</p>-->
<!--                <p><strong>类型：</strong>科幻、冒险</p>-->
<!--                <p><strong>简介：</strong>在不久的将来，太阳即将毁灭，人类在地球表面建造出巨大的推进器，寻找新的家园。然而，为了寻找新的家园，他们不得不面对各种困难和挑战。</p>-->
<!--            </div>-->
        </div>
    </div>
</div>

<!-- 评价区域 -->
<div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-semibold">全部评价</h2>
    <button class="glass-effect px-4 py-2 rounded-full hover:bg-white/20 transition-colors" onclick="openCommentDialog(0)">
        写评价
    </button>
</div>

<div id="comments-container" class="space-y-4">
    <!-- 评论将通过JavaScript动态加载 -->
</div>

<div id="load-more" class="text-center mt-8">
    <button class="glass-effect px-6 py-2 rounded-full hover:bg-white/20 transition-colors" onclick="loadMoreComments()">
        加载更多评论
    </button>
</div>


<script>

    let currentPage = 1;
    const commentsPerPage = 10;
    const maxLines = 3;

    var replyTo = 0;
    var myrate = 5;

    $.ajax({
        url: '/media/index/getMetaData',
        type: 'POST',
        data: {
            mediaId: '<?php echo $mediaId; ?>'
        },
        success: function (data) {
            var metaData = data.metaData;

            // if (metaData['SeriesId'] && metaData['SeriesId'] !== '' && metaData['SeriesId'] !== '<?php echo $mediaId; ?>') {
            //     window.location.href = '/media/user/commentDetail?id=' + metaData['SeriesId'];
            // }

            var metaHtml = '';

            metaHtml += '<h1 class="text-3xl font-bold mb-4">' + metaData['Name'] + ' (' + metaData.PremiereDate.split('-')[0] + ')</h1>';
            metaHtml += '<div class="flex items-center space-x-2 mb-4">';
            metaHtml += '<div class="flex items-center">';
            metaHtml += '<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-400 fill-current" viewBox="0 0 20 20">';
            metaHtml += '<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />';
            metaHtml += '</svg>';
            // <div id="rate-id"></div>
            // metaHtml += '<div id="rate-'+metaData['Id']+'"></div>';
            metaHtml += '</div>';
            if (data.basicInfo.averageRate) {
                // data.basicInfo.averageRate保留2位小数
                metaHtml += '<span class="text-lg">' + data.basicInfo.averageRate.toFixed(2) + '</span>';
            } else {
                metaHtml += '<span class="text-lg">暂无评分</span>';

            }
            if (data.basicInfo.mediaCommentCount) {
                metaHtml += '<span class="text-white/60">(' + data.basicInfo.mediaCommentCount + '条评价)</span>';
            } else {
                metaHtml += '<span class="text-white/60">(暂无评价)</span>';
            }
            metaHtml += '</div>';

            // ExternalUrls 前往"IMDb"等网站的链接
            if (metaData.ExternalUrls) {
                metaHtml += '<div class="flex items-center space-x-2 mb-4">';
                metaData.ExternalUrls.forEach(function (item) {
                    metaHtml += '<a href="' + item.Url + '" target="_blank" class="flex items-center space-x-1 text-white/60 hover:text-white">';
                    metaHtml += '<span>' + item.Name + '</span>';
                    metaHtml += '</a>';
                });
                metaHtml += '</div>';
            }

            metaHtml += '<div class="space-y-1 text-white/80">';
            metaHtml += '<p><strong>演职人员：</strong>'
            if (metaData.People) {
                metaData.People.forEach(function (item) {
                    if (item.Name && item.Role && item.Name !== '' && item.Role !== '') {
                        metaHtml += item.Name + ' 饰 ' + item.Role + '、';
                    }
                });
                metaHtml = metaHtml.substring(0, metaHtml.length - 1);
            }
            metaHtml += '</p>';
            metaHtml += '<p><strong>上映时间：</strong>' + metaData.PremiereDate.split('T')[0] + '</p>';
            metaHtml += '<p><strong>上映地区：</strong>';
            if (metaData.ProductionLocations) {
                metaData.ProductionLocations.forEach(function (item) {
                    metaHtml += item + '、';
                });
                metaHtml = metaHtml.substring(0, metaHtml.length - 1);
            }
            metaHtml += '</p>';
            metaHtml += '<p><strong>类型：</strong>';
            if (metaData.GenreItems) {
                metaData.GenreItems.forEach(function (item) {
                    if (item['Name'] && item['Name'] !== '') {
                        metaHtml += item['Name'] + '、';
                    }
                });
                metaHtml = metaHtml.substring(0, metaHtml.length - 1);
            }
            metaHtml += '</p>';
            metaHtml += '<p><strong>简介：</strong><span id="overview" class="overview-text">' + metaData.Overview + '</span></p>';
            metaHtml += '</div>';

            $('.meta-data-here').html(metaHtml);
            const overview = document.getElementById('overview');
            overview.style.display = '-webkit-box';
            overview.style.webkitBoxOrient = 'vertical';
            overview.style.overflow = 'hidden';
            overview.style.webkitLineClamp = maxLines;
            overview.addEventListener('click', toggleOverview);

        }
    });

    function loadMoreComments() {
        const container = document.getElementById('comments-container');
        var pageComments = [];
        $.ajax({
            url: '/media/user/getComments',
            type: 'POST',
            data: {
                mediaId: '<?php echo $mediaId; ?>',
                page: currentPage,
                pagesize: commentsPerPage,
            },
            success: function (data) {
                if (data.code == 200) {
                    pageComments = data.data;
                    pageComments.forEach(comment => {
                        const commentElement = createCommentElement(comment);
                        container.appendChild(commentElement);
                        layui.use(function(){
                            var rate = layui.rate;
                            // 单个渲染
                            rate.render({
                                elem: '#rate-'+comment.id,
                                value: comment.rating,
                                half: true,
                                readonly: true,
                            });
                        });
                    });
                    currentPage++;
                    if (pageComments.length < commentsPerPage) {
                        document.getElementById('load-more').style.display = 'none';
                    }
                } else {
                    rStatusMessage.error(data.message);
                }
            }
        });

    }

    function createCommentElement(comment) {
        const div = document.createElement('div');
        div.className = 'glass-effect rounded-lg p-4';

        let quotedHtml = '';
        if (comment.quotedComment) {
            let quotedComment = comment.quotedComment.comment;
            for (const mention of comment.quotedComment.mentions) {
                quotedComment = quotedComment.replaceAll('@#'+mention.id+'# ', `<span class="text-blue-400 cursor-pointer" onclick="showUserProfile('${mention.id}')">@${mention.username} </span>`);
            }
            quotedHtml = `
            <div class="bg-white/10 p-3 rounded-lg mb-3 cursor-pointer" onclick="showQuotedComment('${comment.quotedComment.id}')">
              <p class="text-sm text-white/60">引用 ${comment.quotedComment.username} 的评论：</p>
              <p class="text-white/80 mini-quot">${quotedComment}</p>
            </div>
          `;
        }

        let commentText = comment.comment;
        for (const mention of comment.mentions) {
            commentText = commentText.replaceAll('@#'+mention.id+'# ', `<span class="text-blue-400 cursor-pointer" onclick="showUserProfile('${mention.id}')">@${mention.username} </span>`);
        }

        div.innerHTML = `
          <div class="flex justify-between items-start mb-2">
            <div>
                <div class="flex items-center space-x-2">
                  <img src="/api/common/getHeadImg?id=${comment.userId}size=100" class="w-8 h-8 rounded-full">
                  <span class="font-semibold">${comment.username}</span>
              </div>
              <div class="flex items-center space-x-1 mt-1">
                <div id="rate-${comment.id}"></div>
              </div>
            </div>
            <span class="text-sm text-white/60">${comment.createdAt}</span>
          </div>
          ${quotedHtml}
          <p class="text-white/80">${commentText}</p>
          <div class="flex space-x-4 mt-3">
            <button class="text-sm text-white/60 hover:text-white" onclick="quoteComment('${comment.id}')">引用</button>
<!--            <button class="text-sm text-white/60 hover:text-white" onclick="replyToComment('${comment.id}')">回复</button>-->
          </div>
        `;

        return div;
    }

    function submitComment() {
        startMainLoading()
        $.ajax({
            url: '/media/user/addComment',
            type: 'POST',
            data: {
                mediaId: '<?php echo $mediaId; ?>',
                comment: $('#comment-content').val(),
                rate: myrate,
                replyTo: replyTo,
            },
            success: function (data) {
                if (data.code == 200) {
                    closeCommentDialog();
                    rStatusMessage.success('评论成功');
                    window.location.reload();
                } else {
                    rStatusMessage.error(data.message);
                }
            }
        });
    }

    function quoteComment(commentId) {
        replyTo = commentId;
        startMainLoading()
        $.ajax({
            url: '/media/user/getOneComment',
            type: 'POST',
            data: {
                id: commentId,
            },
            success: function (data) {
                if (data.code == 200) {
                    const comment = data.data;
                    for (const mention of comment.mentions) {
                        const mentionId = mention.id;
                        const mentionUsername = mention.username;
                        comment.comment = comment.comment.replaceAll('@#'+mentionId+'# ', `@${mentionUsername} `);
                    }
                    const quotePreview = document.getElementById('quote-preview');
                    quotePreview.innerHTML = `
                    <p class="text-sm text-white/60">引用 ${comment.username} 的评论：</p>
                    <p class="text-white/80">${comment.comment}</p>
                  `;
                    quotePreview.style.display = 'block';
                    stopMainLoading()
                    openCommentDialog(commentId);
                } else {
                    rStatusMessage.error(data.message);
                }
            }
        });
    }

    // function replyToComment(commentId) {
    //     const comment = comments.find(c => c.id === commentId);
    //     if (comment) {
    //         const textarea = document.getElementById('comment-content');
    //         textarea.placeholder = `回复 @${comment.username}：`;
    //         openCommentDialog();
    //     }
    // }

    function showUserProfile(username) {
        // 处理显示用户资料的逻辑
        // alert(`显示${username}的个人资料`);
    }

    function toggleOverview() {
        const overview = document.getElementById('overview');
        if (overview.style.webkitLineClamp === 'unset') {
            overview.style.webkitLineClamp = maxLines;
        } else {
            overview.style.webkitLineClamp = 'unset';
        }
    }

    // 初始加载评论
    loadMoreComments();
</script>