<ul class="aside layui-nav layui-nav-tree" lay-filter="test">
    <li class="layui-nav-item"><a href="{:url('media/user/index')}">仪表盘</a></li>
    <?php
    $embyUser=session('m_embyId');
    if (!$embyUser) {
    echo '<li class="layui-nav-item"><a href="' . url('media/server/create') . '">创建账号</a></li>';
    echo '<script>rShowMessage("您还没有影视站账号，请先前往：影视站相关-创建账号，进行创建Emby账号<br /><a href=\"' . url('media/server/create') . '\">点我前往创建Emby账号</a>", 0, "up", 0);</script>';
    } else {
    echo '<li class="layui-nav-item"><a href="' . url('media/server/account') . '">影视站站点账号</a></li>';
    echo '<li class="layui-nav-item"><a href="' . url('media/server/servers') . '">影视站线路</a></li>';
    echo '<li class="layui-nav-item"><a href="' . url('media/server/session') . '">登录会话管理</a></li>';
    echo '<li class="layui-nav-item"><a href="' . url('media/user/request') . '">工单管理</a></li>';
    }
    ?>
    <li class="layui-nav-item"><a href="{:url('media/finance/user')}">充值中心</a></li>
    <li class="layui-nav-item"><a href="{:url('media/finance/payRecord')}">账单记录</a></li>
    <li class="layui-nav-item"><a href="{:url('media/finance/record')}">操作记录</a></li>
    <li class="layui-nav-item show-on-phone" style="display: none"><a href="{:url('media/user/userconfig')}">个人档案</a></li>
    <li class="layui-nav-item show-on-phone" style="display: none"><a href="{:url('media/user/logout')}">登出</a></li>
</ul>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<script>
    layui.use(['element', 'jquery'], function(){
        var element = layui.element;
        var $ = layui.$;

        // 初始化 element
        element.init();

        $flag = true;

        // 高亮当前页面菜单项
        var currentPath = window.location.pathname;
        $('.aside .layui-nav-item .layui-nav-child dd a').each(function() {
            var $this = $(this);
            var linkPath = $this.attr('href');
            if (currentPath === linkPath) {
                flag = false;
                $('.aside .layui-nav-child dd').removeClass('layui-this');
                $this.parent().addClass('layui-this');

                // 自动展开抽屉（子菜单）
                var $parentLi = $this.closest('.layui-nav-item');
                if ($parentLi.hasClass('layui-nav-itemed')) {
                    return false; // 如果已经展开，直接返回
                } else {
                    $parentLi.addClass('layui-nav-itemed');
                    return false;
                }
            }
        });

        if ($flag) {
            $('.aside .layui-nav-item a').each(function() {
                var $this = $(this);
                var linkPath = $this.attr('href');
                if (currentPath === linkPath) {
                    $this.parent().addClass('layui-this');
                    return false;
                }
            });
        }
    });
</script>
