<div class="footer">
    <p><span class="footer-hideable">本站由 <a href="https://dashboard.randallanjie.com/" style="pointer-events: auto;">算艺轩-Server0</a> 提供计算服务 | </span>© 2024 Powered By <a
            href="https://randallanjie.com/" style="pointer-events: auto;">RandallAnjie.com</a></p>
</div>

<style>
    .footer {
        width: 100%;
        color: black;
        text-align: center;
    }

    .footer a {
        text-decoration: none;
        color: black;
    }

    .footer a:hover {
        color: #91cd85;
    }
</style>